bin
*.class
*.launch
.settings
.metadata
.classpath
.project

out
*.ipr
*.iws
*.iml
.idea
.vscode

build
.gradle
.cache
config

eclipse
run
run-data
logs
tmp
release
crash-reports
hs_err_pid*.log

.env
.env.*
!.env.example
*.jks
*.keystore
*.p12

forge_README.txt
forge*changelog.txt
